# Generated build files
build/

# Installed NPM dependencies
node_modules/

# Logs
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Yarn Integrity file
.yarn-integrity

# VSCode unneeded files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/keybindings.json

# Local configuration
config/local.json

# Generated coverage report
coverage/